src/Projeto.exe
src/main.o
src/ProjetoWindows.layout
src/ProjetoLinux.layout
src/ProjetoMacOsX.layout
*.depend
libLinux/*
libMacOsX/*
*.wav
*.mp3
*.mp4
*.aif
*.midi
*.bmp
*.png
*.jpg
*.jpeg
*.o
*.rar
*.dll
