src/Projeto.exe
src/main.o
src/ProjetoWindows.layout
src/ProjetoLinux.layout
src/ProjetoMacOsX.layout
*.depend
libLinux/*
libMacOsX/*
libWindows/*
*.wav
*.mp3
*.aif
*.midi
*.bmp
*.png
*.jpg
*.jpeg
*.o
*.zip